/*
1. Posicionamiento
2. Modelo de caja (box model)
3. Tipografía
4. Temas visuales
5. Otros
*/

:root {
    /* Colores*/
    --blue-scope:#004de1;
    --secondary-blue: #002771;
    --soft-blue:#007ffd;
    --black:#282623;
    --orange-scope:#fc9c01;
    --off-white:#f3f3f3;
    --just-wite:#FFFFFF;
    --grey-footer: #2d2d2d;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Qanelas;
    src: url(../fonts/Qanelas-Medium.ttf);
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

h1 {
    font-size: 3rem;
    font-family: Qanelas;
}
.portada {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background-image: url(../recursos/images/fondo-scope.png);
}
.portada-texto {
    color: var(--just-wite);
    margin:20px 15px 20px 15px;
}

.portada-texto h1 {
    margin-top: 60px;
    margin-bottom: 60px;
}
.portada-texto p {
    margin-top: 10px;
}